ENV=dev
DDB_PRIVATE_CHATS=
DDB_PUBLIC_CHATS=
DDB_USERS_EMAIL=
DDB_USERS_ID=
MAX_CHAT_LENGTH=7
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
SLACK_BOT_TOKEN=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_EVENTS=app_mention,message
SLACK_INSTALLATION_S3_BUCKET_NAME=
SLACK_SCOPES=channels:history,groups:history,im:history,mpim:history,app_mentions:read,channels:history,channels:join,channels:read,chat:write,chat:write.customize,commands,emoji:read,groups:history,groups:read,im:history,im:read,incoming-webhook,links:read,metadata.message:read,mpim:history,mpim:read,reactions:read,usergroups:read,users.profile:read,users:read,users:read.email,users:write
SLACK_SIGNING_SECRET=
SLACK_STATE_S3_BUCKET_NAME=
STRIPE_ANNUAL_LINK=
STRIPE_LIFETIME_LINK=
STRIPE_MONTHLY_LINK=
